body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Montserrat;

    src: url("fonts/montserrat-light.eot");

    src: url("fonts/montserrat-light.eot?#iefix") format("embedded-opentype"),
        url("fonts/montserrat-light.woff2") format("woff2"), url("fonts/montserrat-light.woff") format("woff");

    font-weight: 300;

    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url("fonts/montserrat-thin.eot");
    src: url("fonts/montserrat-thin.eot?#iefix") format("embedded-opentype"),
        url("fonts/montserrat-thin.woff2") format("woff2"), url("fonts/montserrat-thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("fonts/roboto-regular-webfont.eot");
    src: url("fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ralewaymedium";
    src: url("fonts/raleway-medium-webfont.eot");
    src: url("fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/raleway-medium-webfont.woff2") format("woff2"),
        url("fonts/raleway-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url("fonts/raleway-semibold-webfont.eot");
    src: url("fonts/raleway-semibold-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/raleway-semibold-webfont.woff2") format("woff2"),
        url("fonts/raleway-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url("fonts/raleway-regular-webfont.eot");
    src: url("fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/raleway-regular-webfont.woff2") format("woff2"),
        url("fonts/raleway-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
